Repository openmodelingfoundation/openmodelingfoundation.github.io, pull requests merged in 2020-05, with the labels that each got.

#62 updating initial interoperability standards document
  content/en/standards/interoperability/_index.md
Labels: standards - interoperability

#63 updating reproducibility initial text
  content/en/standards/reproducibility/_index.md
Labels: standards - reusability

#65 Updated standards intro text
  content/en/standards/_index.md
Labels: standards - accessibility, standards - documentation, standards - interoperability, standards - reusability

#61 Added introductory text to the governance page
  content/en/governance/_index.md
Labels: governance

#67 updating language consistency
  content/en/standards/accessibility/_index.md
Labels: standards - accessibility

#69 updating preamble language consistency
  content/en/standards/interoperability/_index.md
Labels: standards - interoperability

#68 updating language consistency in preamble
  content/en/standards/documentation/_index.md
Labels: standards - documentation

#70 updating preamble language for consistency
  content/en/standards/reproducibility/_index.md
Labels: standards - reusability

#71 initial text for working groups
  content/en/governance/working-groups.md
Labels: governance

#72 reformatting and consolidating requirements
  content/en/standards/documentation/_index.md
Labels: standards - documentation

#75 update PR template for #66
  .github/PULL_REQUEST_TEMPLATE.md
Labels: OMF site infrastructure

#77 Make "variables" plural
  content/en/standards/interoperability/_index.md
Labels: standards - interoperability

#110 Add notes from May 2020 workshop
  content/en/standards/interoperability/_index.md
Labels: standards - interoperability
